{% set body_class = "buy-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="buy-main">
  {% include './components/_header.html' %}

  <div class="buy-partners">
    <div class="home-buy-fluid">
    <div class="home-buy-centered">
      <div class="home-buy-title">Де купити spraga</div>
      <div class="home-buy-category">
        <div class="home-buy-category-name">
          магазини
        </div>
        <div class="home-buy-category-container">
          <div class="home-buy-category-element">
            <img src="/images/13.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/14.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/15.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/16.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/17.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/18.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/19.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/20.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/21.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/22.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/23.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/24.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/25.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/26.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/27.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/28.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/29.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/30.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/31.png" alt="i">
          </div>
        </div>
      </div>
      <div class="home-buy-category">
        <div class="home-buy-category-name">
          заклади
        </div>
        <div class="home-buy-category-container">
          <div class="home-buy-category-element">
            <img src="/images/32.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/33.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/34.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/35.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/36.png" alt="i">
          </div>
        </div>
      </div>
      <div class="home-buy-category">
        <div class="home-buy-category-name">
          азс
        </div>
        <div class="home-buy-category-container">
          <div class="home-buy-category-element">
            <img src="/images/37.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/38.png" alt="i">
          </div>
          <div class="home-buy-category-element">
            <img src="/images/39.png" alt="i">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="buy-contact">
    <div class="buy-contact-image">
      <img src="/images/51.png" alt="i">
    </div>
    
    <div class="buy-contact-form-wrapper">
      <form action="#" class="buy-contact-form">
        <div class="buy-contact-form-title">
          Хочете стати партнером?
        </div>
        <div class="buy-contact-form-description">
          Заповніть форму і наш менеджер зв’яжеться з вами
        </div>

        <div class="hire-modal-input error">
          <input type="text" class="inputText" />
          <span class="floating-label">
            Ваше прізвище та ім’я
          </span>
          <div class="hire-modal-input-error-text">
            Заповніть, будь ласка, поле
          </div>
        </div>
        <div class="hire-modal-input">
          <input type="text" class="inputText" />
          <span class="floating-label">
            Номер телефону
          </span>
          <div class="hire-modal-input-error-text">
            використовуйте тільки цифри
          </div>
        </div>
        <div class="hire-modal-input">
          <input type="text" class="inputText" />
          <span class="floating-label">
            E-mail
          </span>
          <div class="hire-modal-input-error-text">
            Заповніть, будь ласка, поле
          </div>
        </div>
        <div class="hire-modal-input">
          <input type="text" class="inputText" />
          <span class="floating-label">
            Тип бізнесу (кав’ярня, магазин чи інше)
          </span>
          <div class="hire-modal-input-error-text">
            Заповніть, будь ласка, поле
          </div>
        </div>
        <div class="hire-modal-input">
          <input type="text" class="inputText" />
          <span class="floating-label">
            Місто та область
          </span>
          <div class="hire-modal-input-error-text">
            Заповніть, будь ласка, поле
          </div>
        </div>

        <button class="buy-contact-form-submit" type="submit">
          <div class="buy-contact-form-submit-circle"></div>
          <span>відправити</span>
        </button>

      </form>
    </div>
    
    <!-- <div class="buy-contact-success-wrapper">
      <canvas id="bubbles"></canvas>
      <div class="buy-contact-success-content">
        <div class="buy-contact-success-title">Чудово!</div>
        <div class="buy-contact-success-text">
          <p>Ми отримали вашу заявку.</p>
          <p>Наш менеджер зв’яжеться з вами найближчим часом.</p>
        </div>
      </div>
    </div> -->

  </div>

  <div class="buy-contact-test">
    <div class="buy-contact-image">
      <img src="/images/51.png" alt="i">
    </div>
    <div class="buy-contact-success-wrapper
    show">
      <canvas id="bubbles"></canvas>
      <div class="buy-contact-success-content">
        <div class="buy-contact-success-title">Чудово!</div>
        <div class="buy-contact-success-text">
          <p>Ми отримали вашу заявку.</p>
          <p>Наш менеджер зв’яжеться з вами найближчим часом.</p>
        </div>
      </div>
    </div>
  </div>
 
  {% include './components/_footer.html' %}
</main>

{% endblock %} {% block footer_scripts %} {% endblock %}
