{% set body_class = "home-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="main">
  {% include './components/_header.html' %}

  <div class="home-head">
    <div class="home-head-logo">
      <img src="/images/logo2.svg" alt="i" />
    </div>
    <div class="home-head-title">раптом це твоє!</div>
  </div>

  <div class="home-hero">
    <div class="home-hero-image">
      <picture>
        <source media="(max-width: 650px)" srcset="/images/44.png" />
        <source media="(max-width: 999px)" srcset="/images/40.png" />
        <source media="(min-width: 1000px)" srcset="/images/1.png" />
        <img src="/images/1.png" alt="img" />
      </picture>
    </div>
  </div>

  <div class="home-products">
    <div class="home-products-container">
      <div class="home-products-item">
        <a href="/product.html" class="home-products-item-image">
          <img src="/images/2.png" alt="i" />
        </a>
        <div class="home-products-item-bottom">
          <a href="/" class="home-products-item-bottom-buy">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M13.8192 28.488C15.0619 28.488 16.0693 27.4806 16.0693 26.2379C16.0693 24.9952 15.0619 23.9878 13.8192 23.9878C12.5765 23.9878 11.5691 24.9952 11.5691 26.2379C11.5691 27.4806 12.5765 28.488 13.8192 28.488Z"
                fill="#231F20"
              />
              <path
                d="M23.2162 28.488C24.4589 28.488 25.4663 27.4806 25.4663 26.2379C25.4663 24.9952 24.4589 23.9878 23.2162 23.9878C21.9735 23.9878 20.9661 24.9952 20.9661 26.2379C20.9661 27.4806 21.9735 28.488 23.2162 28.488Z"
                fill="#231F20"
              />
              <path
                d="M1.43346 5.86427C3.49747 5.86427 5.56148 5.86427 7.62548 5.86427C7.24551 5.57482 6.86554 5.2857 6.48557 4.99625C8.04328 10.4378 9.60134 15.8793 11.1591 21.3209C11.304 21.8271 11.769 22.1889 12.299 22.1889C16.4635 22.1889 20.6276 22.1889 24.7921 22.1889C25.3406 22.1889 25.7628 21.8234 25.932 21.3209C27.1712 17.6431 28.4105 13.9653 29.6497 10.2875C29.8976 9.55152 29.2454 8.79124 28.5098 8.79124C22.036 8.79124 15.5627 8.79124 9.08897 8.79124C7.56435 8.79124 7.56435 11.1555 9.08897 11.1555C15.5627 11.1555 22.036 11.1555 28.5098 11.1555C28.1298 10.6566 27.7498 10.1578 27.3698 9.65926C26.1306 13.3371 24.8914 17.0148 23.6522 20.6926C24.0322 20.4032 24.4121 20.1141 24.7921 19.8246C20.6276 19.8246 16.4635 19.8246 12.299 19.8246C12.6789 20.1141 13.0589 20.4032 13.4389 20.6926C11.8812 15.2511 10.3231 9.80956 8.7654 4.36802C8.6205 3.8614 8.15576 3.5 7.62582 3.5C5.56181 3.5 3.49781 3.5 1.4338 3.5C-0.0911573 3.5 -0.0911573 5.86427 1.43346 5.86427Z"
                fill="#231F20"
              />
            </svg>
            <span>купити</span>
          </a>
          <!-- <div class="home-products-item-bottom-size">300 мл</div> -->
          <div class="cart-goods-item-right-down-price-wrapper">
            <div class="cart-goods-item-right-down-price show">
              684 грн/12 шт
            </div>
            <div class="cart-goods-item-right-down-price-action">
              <span class="action-old-price">684 грн</span>
              <span class="action-new-price">588 грн/12 шт</span>
            </div>
          </div>
          <a href="/product.html" class="home-products-item-bottom-more"
            >про напій</a
          >
        </div>
      </div>
      <div class="home-products-item">
        <a href="/product.html" class="home-products-item-image">
          <img src="/images/3.png" alt="i" />
        </a>
        <div class="home-products-item-bottom">
          <a href="/" class="home-products-item-bottom-buy">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M13.8192 28.488C15.0619 28.488 16.0693 27.4806 16.0693 26.2379C16.0693 24.9952 15.0619 23.9878 13.8192 23.9878C12.5765 23.9878 11.5691 24.9952 11.5691 26.2379C11.5691 27.4806 12.5765 28.488 13.8192 28.488Z"
                fill="#231F20"
              />
              <path
                d="M23.2162 28.488C24.4589 28.488 25.4663 27.4806 25.4663 26.2379C25.4663 24.9952 24.4589 23.9878 23.2162 23.9878C21.9735 23.9878 20.9661 24.9952 20.9661 26.2379C20.9661 27.4806 21.9735 28.488 23.2162 28.488Z"
                fill="#231F20"
              />
              <path
                d="M1.43346 5.86427C3.49747 5.86427 5.56148 5.86427 7.62548 5.86427C7.24551 5.57482 6.86554 5.2857 6.48557 4.99625C8.04328 10.4378 9.60134 15.8793 11.1591 21.3209C11.304 21.8271 11.769 22.1889 12.299 22.1889C16.4635 22.1889 20.6276 22.1889 24.7921 22.1889C25.3406 22.1889 25.7628 21.8234 25.932 21.3209C27.1712 17.6431 28.4105 13.9653 29.6497 10.2875C29.8976 9.55152 29.2454 8.79124 28.5098 8.79124C22.036 8.79124 15.5627 8.79124 9.08897 8.79124C7.56435 8.79124 7.56435 11.1555 9.08897 11.1555C15.5627 11.1555 22.036 11.1555 28.5098 11.1555C28.1298 10.6566 27.7498 10.1578 27.3698 9.65926C26.1306 13.3371 24.8914 17.0148 23.6522 20.6926C24.0322 20.4032 24.4121 20.1141 24.7921 19.8246C20.6276 19.8246 16.4635 19.8246 12.299 19.8246C12.6789 20.1141 13.0589 20.4032 13.4389 20.6926C11.8812 15.2511 10.3231 9.80956 8.7654 4.36802C8.6205 3.8614 8.15576 3.5 7.62582 3.5C5.56181 3.5 3.49781 3.5 1.4338 3.5C-0.0911573 3.5 -0.0911573 5.86427 1.43346 5.86427Z"
                fill="#231F20"
              />
            </svg>
            <span>купити</span>
          </a>
          <!-- <div class="home-products-item-bottom-size">300 мл</div> -->
          <div class="cart-goods-item-right-down-price-wrapper">
            <div class="cart-goods-item-right-down-price show">
              684 грн/12 шт
            </div>
            <div class="cart-goods-item-right-down-price-action">
              <span class="action-old-price">684 грн</span>
              <span class="action-new-price">588 грн/12 шт</span>
            </div>
          </div>
          <a href="/product.html" class="home-products-item-bottom-more"
            >про напій</a
          >
        </div>
      </div>
      <div class="home-products-item">
        <a href="/product.html" class="home-products-item-image">
          <img src="/images/4.png" alt="i" />
        </a>
        <div class="home-products-item-bottom">
          <a href="/" class="home-products-item-bottom-buy">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path
                d="M13.8192 28.488C15.0619 28.488 16.0693 27.4806 16.0693 26.2379C16.0693 24.9952 15.0619 23.9878 13.8192 23.9878C12.5765 23.9878 11.5691 24.9952 11.5691 26.2379C11.5691 27.4806 12.5765 28.488 13.8192 28.488Z"
                fill="#231F20"
              />
              <path
                d="M23.2162 28.488C24.4589 28.488 25.4663 27.4806 25.4663 26.2379C25.4663 24.9952 24.4589 23.9878 23.2162 23.9878C21.9735 23.9878 20.9661 24.9952 20.9661 26.2379C20.9661 27.4806 21.9735 28.488 23.2162 28.488Z"
                fill="#231F20"
              />
              <path
                d="M1.43346 5.86427C3.49747 5.86427 5.56148 5.86427 7.62548 5.86427C7.24551 5.57482 6.86554 5.2857 6.48557 4.99625C8.04328 10.4378 9.60134 15.8793 11.1591 21.3209C11.304 21.8271 11.769 22.1889 12.299 22.1889C16.4635 22.1889 20.6276 22.1889 24.7921 22.1889C25.3406 22.1889 25.7628 21.8234 25.932 21.3209C27.1712 17.6431 28.4105 13.9653 29.6497 10.2875C29.8976 9.55152 29.2454 8.79124 28.5098 8.79124C22.036 8.79124 15.5627 8.79124 9.08897 8.79124C7.56435 8.79124 7.56435 11.1555 9.08897 11.1555C15.5627 11.1555 22.036 11.1555 28.5098 11.1555C28.1298 10.6566 27.7498 10.1578 27.3698 9.65926C26.1306 13.3371 24.8914 17.0148 23.6522 20.6926C24.0322 20.4032 24.4121 20.1141 24.7921 19.8246C20.6276 19.8246 16.4635 19.8246 12.299 19.8246C12.6789 20.1141 13.0589 20.4032 13.4389 20.6926C11.8812 15.2511 10.3231 9.80956 8.7654 4.36802C8.6205 3.8614 8.15576 3.5 7.62582 3.5C5.56181 3.5 3.49781 3.5 1.4338 3.5C-0.0911573 3.5 -0.0911573 5.86427 1.43346 5.86427Z"
                fill="#231F20"
              />
            </svg>
            <span>купити</span>
          </a>
          <!-- <div class="home-products-item-bottom-size">300 мл</div> -->
          <div class="cart-goods-item-right-down-price-wrapper">
            <div class="cart-goods-item-right-down-price">684 грн/12 шт</div>
            <div class="cart-goods-item-right-down-price-action show">
              <span class="action-old-price">684 грн</span>
              <span class="action-new-price">588 грн/12 шт</span>
            </div>
          </div>
          <a href="/product.html" class="home-products-item-bottom-more"
            >про напій</a
          >
        </div>
      </div>
    </div>
    <a href="/products.html" class="home-products-all-btn">
      <div class="home-products-all-btn-circle"></div>
      <span>усі напої</span>
    </a>
  </div>

  <div class="home-cans-fluid">
    <div class="home-cans-inner">
      <div class="home-cans-center">
        <div class="home-cans-circle">
          <div class="home-cans-circle-bg">
            <img src="/images/6.png" alt="i" />
          </div>
          <span>3+1</span>
        </div>
        <div class="home-cans-content">
          <div class="home-cans-tag">Акція</div>
          <div class="home-cans-title">
            <span>Раптом це твоє!</span>
            <div class="home-cans-products-image">
              <img src="/images/5.png" alt="i" />
            </div>
          </div>
          <div class="home-cans-description">
            Купуй мікс х 4-х смаків комбучі Spraga в банці за ціною трьох
          </div>
          <a
            href="https://spraga.com/rules_of_the_promotion_suddenly_its_yours.pdf"
            class="home-cans-promo-date"
            target="_blank"
          >
            <span
              >Діє з 01.06 по 01.09.2023. Детальні умови акції за
              посиланням</span
            >
            <img src="/images/icon21.svg" alt="i" />
          </a>
        </div>
      </div>
    </div>
    <a
      href="https://spraga.com/rules_of_the_promotion_suddenly_its_yours.pdf"
      class="home-cans-all-btn"
      target="_blank"
    >
      <div class="home-cans-all-btn-circle"></div>
      <span>умови акції</span>
    </a>
  </div>

  <div class="home-about-fluid">
    <div class="home-about-centered">
      <div class="home-about-image">
        <picture>
          <source media="(max-width: 650px)" srcset="/images/43.png" />
          <source media="(max-width: 999px)" srcset="/images/42.png" />
          <source media="(min-width: 1000px)" srcset="/images/7.png" />
          <img src="/images/7.png" alt="img" />
        </picture>
      </div>
      <div class="home-about-content">
        <div class="home-about-top">
          <div class="home-about-top-title">Комбуча</div>
          <div class="home-about-top-description">
            це слабогазований ферментований напій на основі чаю, екстрактів
            фруктів, квітів, ягід. У виробництві комбучі SPRAGA ми
            використовуємо культуру бактерій, вирощену в Інституті молекулярної
            біології і генетики НАН України.
          </div>
        </div>
        <div class="home-about-list">
          <div class="home-about-list-title">Наша комбуча</div>
          <div class="home-about-list-text">
            це функціональний напій, який має профілактичну та лікувальну дію:
          </div>
          <ul class="home-about-list-elements">
            <li>
              Сприяє регідратації організму за рахунок спільної дії вуглеводів і
              електролітів
            </li>
            <li>Покращує працездатність м'язів, забезпечуючи їх енергією</li>
            <li>Зміцнює імунну систему</li>
            <li>
              Коктейль з біологічно активних речовин і органічних і неорганічних
              кислот живить клітини товстого кишечника і покращує його роботу
              завдяки пробіотикам і пребіотикам комбучі
            </li>
          </ul>
        </div>
        <div class="home-about-advantage">
          <div class="home-about-advantage-item">
            <div class="home-about-advantage-item-icon">
              <img src="/images/icon1.svg" alt="i" />
            </div>
            <div class="home-about-advantage-item-text">живий пробіотик</div>
          </div>
          <div class="home-about-advantage-item">
            <div class="home-about-advantage-item-icon">
              <img src="/images/icon2.svg" alt="i" />
            </div>
            <div class="home-about-advantage-item-text">
              натуральні інгрідієнти
            </div>
          </div>
          <div class="home-about-advantage-item">
            <div class="home-about-advantage-item-icon">
              <img src="/images/icon3.svg" alt="i" />
            </div>
            <div class="home-about-advantage-item-text">містить вітаміни</div>
          </div>
          <div class="home-about-advantage-item">
            <div class="home-about-advantage-item-icon">
              <img src="/images/icon4.svg" alt="i" />
            </div>
            <div class="home-about-advantage-item-text">підходить веганам</div>
          </div>
          <div class="home-about-advantage-item">
            <div class="home-about-advantage-item-icon">
              <img src="/images/icon5.svg" alt="i" />
            </div>
            <div class="home-about-advantage-item-text">з соком</div>
          </div>
          <div class="home-about-advantage-item">
            <div class="home-about-advantage-item-icon">
              <img src="/images/icon6.svg" alt="i" />
            </div>
            <div class="home-about-advantage-item-text">природна газація</div>
          </div>
          <div class="home-about-advantage-item">
            <div class="home-about-advantage-item-icon">
              <img src="/images/icon7.svg" alt="i" />
            </div>
            <div class="home-about-advantage-item-text">
              низький рівень цукру
            </div>
          </div>
          <div class="home-about-advantage-item">
            <div class="home-about-advantage-item-icon">
              <img src="/images/icon8.svg" alt="i" />
            </div>
            <div class="home-about-advantage-item-text">
              безалкогольний продукт
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-five-fluid">
    <div class="home-five-centered">
      <div class="home-five-tag">Про нас</div>
      <div class="home-five-title">spraga для справжніх і спраглих нас</div>
      <div class="home-five-image">
        <img src="/images/8.png" alt="i" />
      </div>
      <div class="home-five-heading">
        Ми використовуємо європейські стандарти, щоб бути успішними у всьому
        світі.
      </div>
      <p class="home-five-text">
        SPRAGA для поціновувачів натуральних безалкогольних напоїв. Для
        справжніх і спраглих нас. А всі ми – різні. Юні, як літо, і літні, як
        осінь. Менш заможні й більш вибагливі. Фанати солоденького й прихильники
        кислинки.
      </p>
      <p class="home-five-text">
        Наш продукт – це, в першу чергу, люди. Ми віримо, що енергія і здоров’я
        наших продуктів залежить від атмосфери та відносин між співробітниками в
        нашому колективі.
      </p>
      <p class="home-five-text">
        Наша команда складається з технологів із профільною освітою, які мають
        досвід роботи на масових виробництвах та добре володіють процесом і
        контролем системи. Це все – про професіоналів, натхнених однією спільною
        ідеєю.
      </p>
      <a href="/about.html" class="home-products-all-btn">
        <div class="home-products-all-btn-circle"></div>
        <span>про нас</span>
      </a>
    </div>
  </div>

  <div class="home-fluid-image">
    <img src="/images/9.jpg" alt="i" />
  </div>

  <div class="home-insta-fluid">
    <div class="home-insta-centered">
      <div class="home-insta-left">
        <div class="home-insta-left-title">Підписуйтесь на наш instagram</div>
        <a
          href="https://www.instagram.com/spraga.ua/"
          class="home-insta-left-link"
        >
          @spraga.ua
        </a>
      </div>
      <div class="home-insta-container">
        <a href="https://www.instagram.com/spraga.ua/" class="home-insta-item">
          <img src="/images/10.png" alt="i" />
        </a>
        <a href="https://www.instagram.com/spraga.ua/" class="home-insta-item">
          <img src="/images/11.png" alt="i" />
        </a>
        <a href="https://www.instagram.com/spraga.ua/" class="home-insta-item">
          <img src="/images/12.png" alt="i" />
        </a>
      </div>
    </div>
  </div>

  <div class="home-buy-fluid">
    <div class="home-buy-centered">
      <div class="home-buy-title">Де купити spraga</div>
      <div class="home-buy-category">
        <div class="home-buy-category-name">магазини</div>
        <div class="home-buy-category-container">
          <div class="home-buy-category-element">
            <img src="/images/13.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/14.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/15.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/16.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/17.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/18.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/19.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/20.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/21.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/22.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/23.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/24.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/25.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/26.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/27.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/28.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/29.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/30.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/31.png" alt="i" />
          </div>
        </div>
      </div>
      <div class="home-buy-category">
        <div class="home-buy-category-name">заклади</div>
        <div class="home-buy-category-container">
          <div class="home-buy-category-element">
            <img src="/images/32.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/33.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/34.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/35.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/36.png" alt="i" />
          </div>
        </div>
      </div>
      <div class="home-buy-category">
        <div class="home-buy-category-name">азс</div>
        <div class="home-buy-category-container">
          <div class="home-buy-category-element">
            <img src="/images/37.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/38.png" alt="i" />
          </div>
          <div class="home-buy-category-element">
            <img src="/images/39.png" alt="i" />
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include './components/_footer.html' %}
</main>

{% endblock %} {% block footer_scripts %} {% endblock %}
