{% set body_class = "information-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="information-main">
  {% include './components/_header.html' %}

  <div class="information-fluid">
    <div class="information-block">
      <div class="information-left">
        Доставка
      </div>
      <div class="information-right">
        <div class="information-right-text">
          <img src="/images/73.png" alt="i">
          <span>
            Доставка здійснюється Новою поштою.
          </span>
        </div>
        <div class="information-right-gray-text">
          Компанія Spraga пропонує доставку Новою поштою. Зверніть увагу, що наразі доставка здійснюється тільки у відкриті відділення в містах, де немає активних бойових дій або тимчасової окупації.
        </div>
        <ul class="information-right-list">
          <li>У відділення - 0 грн.<br>
            При виборі доставки на відділення Нової пошти доставка безкоштовна.
          </li>
          <li>Кур’єрська доставка - 120 грн.<br>
            При виборі доставки на адресу кур’єром Нової пошти, до замовлення додається вартість доставки у сумі 120 грн.
          </li>
        </ul>
        <div class="information-right-text">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path d="M20 1C12.7571 1 7 6.75714 7 14C7 21.2429 20 38.1429 20 38.1429C20 38.1429 33 21.2429 33 14C33 6.75714 27.2429 1 20 1ZM20 19.5714C16.8429 19.5714 14.4286 17.1571 14.4286 14C14.4286 10.8429 16.8429 8.42857 20 8.42857C23.1571 8.42857 25.5714 10.8429 25.5714 14C25.5714 17.1571 23.1571 19.5714 20 19.5714Z" fill="#F23C32"/>
          </svg>
          <span>
            Самовивіз 
          </span>
        </div>
        <div class="information-right-gray-text">
          При виборі даного способу доставки, Ви отримаєте повідомлення про готовність Вашого замовлення та час, коли Ви можете забрати його в<br> 
          <p>м. Київ, проспект Академіка Глушкова, 12А</p>
          <p>
              Графік роботи: ПН-ПТ з 10:00 до 19:00, СБ-НД - вихідні.
          </p>
        </div>
        <div class="information-right-frame">
          <p class="information-right-frame-black">При виборі способу доставки “Новою поштою”:</p>
          <p>Після успішної оплати замовлення відправляється протягом 1-2 робочих днів згідно графіка роботи перевізника. Графік роботи компанії “Нова пошта” Ви можете знайти на її офіційному сайті.</p>
          <p>Після відправки, Ви отримаєте повідомлення з номером ТТН (смс, Viber або Telegram) та зможете відстежувати статус доставки замовлення на сайті чи у додатку кур’єрської служби.</p>
          <div class="information-right-frame-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M9 0C4.02833 0 0 4.02796 0 9C0 13.972 4.02796 18 9 18C13.972 18 18 13.9698 18 9C18 4.03017 13.972 0 9 0ZM10.2877 14.0762C10.2877 14.7824 9.70824 15.3618 9.00202 15.3618C8.29581 15.3618 7.71634 14.7824 7.71634 14.0762V8.93341C7.71634 8.22719 8.29581 7.64772 9.00202 7.64772C9.70824 7.64772 10.2877 8.22719 10.2877 8.93341V14.0762ZM9.00202 5.20714C8.29176 5.20714 7.71634 4.63168 7.71634 3.92145C7.71634 3.21122 8.2918 2.63576 9.00202 2.63576C9.71229 2.63576 10.2877 3.21122 10.2877 3.92145C10.2877 4.63168 9.71225 5.20714 9.00202 5.20714Z" fill="#9F9F9F"/>
            </svg>
            <span>Зверніть увагу!</span>
          </div>
          <p class="mb-30">Замовлення зберігаються безкоштовно на відділенні протягом 5 (п’яти) днів, після чого повертаються в Компанію. Отримати посилку може тільки особа, яка зазначена в транспортній декларації в якості одержувача. При собі обов’язково мати посвідчення особи!</p>
          <p class="information-right-frame-black">При виборі способу доставки “Самовивіз”:</p>
          <div class="information-right-frame-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <path d="M9 0C4.02833 0 0 4.02796 0 9C0 13.972 4.02796 18 9 18C13.972 18 18 13.9698 18 9C18 4.03017 13.972 0 9 0ZM10.2877 14.0762C10.2877 14.7824 9.70824 15.3618 9.00202 15.3618C8.29581 15.3618 7.71634 14.7824 7.71634 14.0762V8.93341C7.71634 8.22719 8.29581 7.64772 9.00202 7.64772C9.70824 7.64772 10.2877 8.22719 10.2877 8.93341V14.0762ZM9.00202 5.20714C8.29176 5.20714 7.71634 4.63168 7.71634 3.92145C7.71634 3.21122 8.2918 2.63576 9.00202 2.63576C9.71229 2.63576 10.2877 3.21122 10.2877 3.92145C10.2877 4.63168 9.71225 5.20714 9.00202 5.20714Z" fill="#9F9F9F"/>
            </svg>
            <span>Зверніть увагу!</span>
          </div>
          <p>Потрібно мати при собі посвідчення особи. При отриманні замовлення перевіряйте отриману продукцію на цілісність та неушкодженість. При виявленні проблеми, наш працівник оперативно зробить заміну на місці.</p>
          <p>При оголошенні повітряної тривоги наші співробітники знаходяться в укритті (найближче станція метро Іподром), Ваше замовлення зможете отримати після відбою тривоги та повернення співробітників на робочі місця.</p>
        </div>
        <div class="information-atention">
          <div class="information-atention-title">
            ВАЖЛИВО!
          </div>
          <div class="information-atention-description">
            Шановні клієнти, звертаємо Вашу увагу на те, що комбуча - живий продукт і має зберігатись при певних температурних умовах (зазначено на картці продукту). Тому при виборі способу доставки “У відділення НП”, рекомендуємо забрати замовлення у максимально короткий термін!
          </div>
        </div>
      </div>
    </div>
    <div class="information-block">
      <div class="information-left">
        Оплата
      </div>
      <div class="information-right">
        <div class="information-right-text">
          <span>
            При оформленні замовлення Ви маєте можливість здійснити оплату за допомогою карт VISA або Mastercard безпосередньо на сайті. Компанія Spraga гарантує безпеку та захист інтернет-платежів. Всі операції з платіжними картами проводяться відповідно до вимог платіжних систем VISA International та MasterCard. 
          </span>
        </div>
        <div class="information-right-text">
          <span>
            Надана Вами персональна інформація інформація (ім’я, телефон, e-mail, платіжні дані) є конфіденційною і не підлягає розголошенню. Дані Вашої картки передаються тільки в зашифрованому вигляді і не зберігаються на нашому web-сайті. 
            При успішній оплаті на екрані з’явиться повідомлення про успішне оформлення замовлення.
          </span>
        </div>
      </div>
    </div>
    <div class="information-block">
      <div class="information-left">
        Повернення
      </div>
      <div class="information-right">
        <div class="information-right-text">
          <span>
            При виявленні пошкоджень продукції та порушення цілісності пакування напоїв, зафіксуйте проблему (фото/відео) та надішліть на пошту <a href="mailto:spraga@eateasy.ua">spraga@eateasy.ua</a>, після цього наш менеджер зв'яжеться з Вами та замінить пошкоджені продукти у найшвидший термін.
          </span>
        </div>
      </div>
    </div>
  </div>
 
  {% include './components/_footer.html' %}
</main>

{% endblock %} {% block footer_scripts %} {% endblock %}
