<div class="cart-wrapper">
  <div class="cart-overlay"></div>
  <div class="cart-content">
    <div class="cart-top">
      <div class="cart-top-name">Кошик</div>
      <div class="cart-close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="38"
          height="38"
          viewBox="0 0 38 38"
          fill="none"
        >
          <rect
            x="7.98633"
            y="29.2266"
            width="29.8747"
            height="1.17927"
            rx="0.589633"
            transform="rotate(-45 7.98633 29.2266)"
            fill="#231F20"
          />
          <rect
            x="8.82031"
            y="8"
            width="29.8747"
            height="1.17927"
            rx="0.589633"
            transform="rotate(45 8.82031 8)"
            fill="#231F20"
          />
        </svg>
      </div>
    </div>
    <div class="cart-goods">
      <div class="cart-goods-item">
        <div class="cart-goods-item-left">
          <img src="/images/71.png" alt="i" />
        </div>
        <div class="cart-goods-item-right">
          <div class="cart-goods-item-right-top">
            <div class="cart-goods-item-right-top-text">
              <div class="cart-goods-item-right-top-text-name">
                Комбуча “гранат”
              </div>
              <div class="cart-goods-item-right-top-text-pack">
                жерстяна банка 330 мл
              </div>
            </div>
            <div class="cart-goods-item-right-top-del-btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
              >
                <rect
                  x="0.493164"
                  y="11.1133"
                  width="14.9374"
                  height="1.2"
                  rx="0.6"
                  transform="rotate(-45 0.493164 11.1133)"
                  fill="#787878"
                />
                <rect
                  x="0.910156"
                  y="0.5"
                  width="14.9374"
                  height="1.2"
                  rx="0.6"
                  transform="rotate(45 0.910156 0.5)"
                  fill="#787878"
                />
              </svg>
            </div>
          </div>
          <div class="cart-goods-item-right-container">
            Ящик <span>(12 шт х 330 мл)</span>
          </div>
          <div class="cart-goods-item-right-down">
            <div class="cart-goods-item-right-down-quantity">
              <div class="cart-goods-item-right-down-quantity-minus">
                <img src="/images/minus.svg" alt="i" />
              </div>
              <div class="cart-goods-item-right-down-quantity-num">1</div>
              <div class="cart-goods-item-right-down-quantity-plus">
                <img src="/images/plus.svg" alt="i" />
              </div>
            </div>
            <div class="cart-goods-item-right-down-price-wrapper">
              <div class="cart-goods-item-right-down-price">600 грн</div>
              <div class="cart-goods-item-right-down-price-action show">
                <span class="action-old-price">684 грн</span>
                <span class="action-new-price">588 грн</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-goods-item">
        <div class="cart-goods-item-left">
          <img src="/images/72.png" alt="i" />
        </div>
        <div class="cart-goods-item-right">
          <div class="cart-goods-item-right-top">
            <div class="cart-goods-item-right-top-text">
              <div class="cart-goods-item-right-top-text-name">
                Комбуча “кола”
              </div>
              <div class="cart-goods-item-right-top-text-pack">
                скляна пляшка 330 мл
              </div>
            </div>
            <div class="cart-goods-item-right-top-del-btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
              >
                <rect
                  x="0.493164"
                  y="11.1133"
                  width="14.9374"
                  height="1.2"
                  rx="0.6"
                  transform="rotate(-45 0.493164 11.1133)"
                  fill="#787878"
                />
                <rect
                  x="0.910156"
                  y="0.5"
                  width="14.9374"
                  height="1.2"
                  rx="0.6"
                  transform="rotate(45 0.910156 0.5)"
                  fill="#787878"
                />
              </svg>
            </div>
          </div>
          <div class="cart-goods-item-right-container">
            Ящик <span>(12 шт х 330 мл)</span>
          </div>
          <div class="cart-goods-item-right-down">
            <div class="cart-goods-item-right-down-quantity">
              <div class="cart-goods-item-right-down-quantity-minus">
                <img src="/images/minus.svg" alt="i" />
              </div>
              <div class="cart-goods-item-right-down-quantity-num">1</div>
              <div class="cart-goods-item-right-down-quantity-plus">
                <img src="/images/plus.svg" alt="i" />
              </div>
            </div>
            <div class="cart-goods-item-right-down-price-wrapper">
              <div class="cart-goods-item-right-down-price show">600 грн</div>
              <div class="cart-goods-item-right-down-price-action">
                <span class="action-old-price">684 грн</span>
                <span class="action-new-price">588 грн</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-goods-item">
        <div class="cart-goods-item-left">
          <img src="/images/72.png" alt="i" />
        </div>
        <div class="cart-goods-item-right">
          <div class="cart-goods-item-right-top">
            <div class="cart-goods-item-right-top-text">
              <div class="cart-goods-item-right-top-text-name">
                Комбуча “кола”
              </div>
              <div class="cart-goods-item-right-top-text-pack">
                скляна пляшка 330 мл
              </div>
            </div>
            <div class="cart-goods-item-right-top-del-btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
              >
                <rect
                  x="0.493164"
                  y="11.1133"
                  width="14.9374"
                  height="1.2"
                  rx="0.6"
                  transform="rotate(-45 0.493164 11.1133)"
                  fill="#787878"
                />
                <rect
                  x="0.910156"
                  y="0.5"
                  width="14.9374"
                  height="1.2"
                  rx="0.6"
                  transform="rotate(45 0.910156 0.5)"
                  fill="#787878"
                />
              </svg>
            </div>
          </div>
          <div class="cart-goods-item-right-container">
            Ящик <span>(12 шт х 330 мл)</span>
          </div>
          <div class="cart-goods-item-right-down">
            <div class="cart-goods-item-right-down-quantity">
              <div class="cart-goods-item-right-down-quantity-minus">
                <img src="/images/minus.svg" alt="i" />
              </div>
              <div class="cart-goods-item-right-down-quantity-num">1</div>
              <div class="cart-goods-item-right-down-quantity-plus">
                <img src="/images/plus.svg" alt="i" />
              </div>
            </div>
            <div class="cart-goods-item-right-down-price-wrapper">
              <div class="cart-goods-item-right-down-price">600 грн</div>
              <div class="cart-goods-item-right-down-price-action show">
                <span class="action-old-price">684 грн</span>
                <span class="action-new-price">588 грн</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-goods-item">
        <div class="cart-goods-item-left">
          <img src="/images/72.png" alt="i" />
        </div>
        <div class="cart-goods-item-right">
          <div class="cart-goods-item-right-top">
            <div class="cart-goods-item-right-top-text">
              <div class="cart-goods-item-right-top-text-name">
                Комбуча “кола”
              </div>
              <div class="cart-goods-item-right-top-text-pack">
                скляна пляшка 330 мл
              </div>
            </div>
            <div class="cart-goods-item-right-top-del-btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
              >
                <rect
                  x="0.493164"
                  y="11.1133"
                  width="14.9374"
                  height="1.2"
                  rx="0.6"
                  transform="rotate(-45 0.493164 11.1133)"
                  fill="#787878"
                />
                <rect
                  x="0.910156"
                  y="0.5"
                  width="14.9374"
                  height="1.2"
                  rx="0.6"
                  transform="rotate(45 0.910156 0.5)"
                  fill="#787878"
                />
              </svg>
            </div>
          </div>
          <div class="cart-goods-item-right-container">
            Ящик <span>(12 шт х 330 мл)</span>
          </div>
          <div class="cart-goods-item-right-down">
            <div class="cart-goods-item-right-down-quantity">
              <div class="cart-goods-item-right-down-quantity-minus">
                <img src="/images/minus.svg" alt="i" />
              </div>
              <div class="cart-goods-item-right-down-quantity-num">1</div>
              <div class="cart-goods-item-right-down-quantity-plus">
                <img src="/images/plus.svg" alt="i" />
              </div>
            </div>

            <div class="cart-goods-item-right-down-price-wrapper">
              <div class="cart-goods-item-right-down-price show">600 грн</div>
              <div class="cart-goods-item-right-down-price-action">
                <span class="action-old-price">684 грн</span>
                <span class="action-new-price">588 грн</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-goods-item">
        <div class="cart-goods-item-left">
          <img src="/images/72.png" alt="i" />
        </div>
        <div class="cart-goods-item-right">
          <div class="cart-goods-item-right-top">
            <div class="cart-goods-item-right-top-text">
              <div class="cart-goods-item-right-top-text-name">
                Комбуча “кола”
              </div>
              <div class="cart-goods-item-right-top-text-pack">
                скляна пляшка 330 мл
              </div>
            </div>
            <div class="cart-goods-item-right-top-del-btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
              >
                <rect
                  x="0.493164"
                  y="11.1133"
                  width="14.9374"
                  height="1.2"
                  rx="0.6"
                  transform="rotate(-45 0.493164 11.1133)"
                  fill="#787878"
                />
                <rect
                  x="0.910156"
                  y="0.5"
                  width="14.9374"
                  height="1.2"
                  rx="0.6"
                  transform="rotate(45 0.910156 0.5)"
                  fill="#787878"
                />
              </svg>
            </div>
          </div>
          <div class="cart-goods-item-right-container">
            Ящик <span>(12 шт х 330 мл)</span>
          </div>
          <div class="cart-goods-item-right-down">
            <div class="cart-goods-item-right-down-quantity">
              <div class="cart-goods-item-right-down-quantity-minus">
                <img src="/images/minus.svg" alt="i" />
              </div>
              <div class="cart-goods-item-right-down-quantity-num">1</div>
              <div class="cart-goods-item-right-down-quantity-plus">
                <img src="/images/plus.svg" alt="i" />
              </div>
            </div>
            <div class="cart-goods-item-right-down-price-wrapper">
              <div class="cart-goods-item-right-down-price show">600 грн</div>
              <div class="cart-goods-item-right-down-price-action">
                <span class="action-old-price">684 грн</span>
                <span class="action-new-price">588 грн</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-empty-text">Нажаль, кошик порожній..</div>
    <div class="cart-down">
      <div class="cart-down-top">
        <div class="cart-down-top-text">Всього:</div>
        <div class="cart-down-top-price">1200 грн</div>
      </div>
      <div class="cart-down-btn">купити</div>
      <a href="/products.html" class="cart-down-continue">
        продовжити покупки
      </a>
    </div>
  </div>
</div>
